.SidePanel {
    height: 400px;
    width: 220px;
    margin-left: 10px;
    margin-top: 35%;
    left: -250px;
    position: fixed;
    border-radius: 20px;
    background-color: orange;
    transition: 0.5s;
    box-shadow: 7px 1px 31px 1px rgba(110,110,110,0.75);
    -webkit-box-shadow: 7px 1px 31px 1px rgba(110,110,110,0.75);
    -moz-box-shadow: 7px 1px 31px 1px rgba(110,110,110,0.75);

}

.SidePanel.open {
    left: 0;
  }

.SidePanelList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidePanelList .bar {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    border-radius: 25px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    color: darkgrey;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.SidePanelList .bar:hover{
    cursor: pointer;
    background-color: grey;
}

.SidePanelList #active {
    background-color: grey;
}

.bar #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.bar #title {
    flex: 70%;
}
.buttonSide {
    position: fixed;
}