.App {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.SidePanel {
    height: 95%;
    width: 300px;
    background-color: black;
}

.SidePanelList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidePanelList .bar {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: darkgrey;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.SidePanelList .bar:hover{
    cursor: pointer;
    background-color: grey;
}

.SidePanelList #active {
    background-color: grey;
}

.bar #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.bar #title {
    flex: 70%;
}