.App {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* start of css code for logincomponent */
.login-window {
  background-color: orange; 
  border-radius: 10px;
  position: absolute; 
  top: 50px; 
  left: 78%; 
  transition: transform 0.9s ease;
  position: fixed; 
  right: 0;
  align-items: center;
}

.login-window-list {
    height: auto;
    padding: 5px;
    text-align: center;
}

.input-field.MuiTextField-root {
  width: 97%;
  margin-bottom: 10px;
}

.button-div {
  text-align: center;
}
/* end of css code for logincomponent */

.banner {
    display: flex;
    align-items: center;
    background-color: orange;
    height: 51px;
  }
  
  .left-buttons {
    display: flex;
    align-items: center;
    margin-right: auto; 
  }
  
  .button {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .logo {
    text-align: center;
    flex-grow: 1; 
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: monospace;
}
  
  .right-button {
    margin-left: auto; 
}

.calender_day{
    background-color: darkgray;
    height: 200px;
    width: 200px;
}

.list_days{
    list-style-type:none;
}

.list_events li {
  list-style-type: none;
}

.scrollable {
  overflow:auto;
  max-height: 69px;
}
.list_events{
  margin-top:10px;
  text-align: center;
}

.list_events li {
  font-weight: bolder;
}

.container {
  display: flex;
}

.flex_calender{
  flex: 80%;
}
.flex_eventView{
  display: flex;
  flex-direction: column;
  flex: 20%;
}

.nextMonth{
  flex: 20%;
  height: 100%;
}

.prevMonth{
  flex: 20%;
  height: 100%;
}

.currentMonth{
  flex: 60%;
  text-align: center;
}

.flex_event{
  flex: 95%;
}

.flex_button{
  display: flex;
  align-items: center;
  flex: 5%;
}

.event{
  text-align: center;
  margin-top: 2%;
  border: 2px solid black;
}