.App {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.SidePanel {
    height: 500px;
    width: 300px;
    margin-left: 30px;
    margin-top: 150px;
    border-radius: 25px;
    background-color: black;
    box-shadow: 7px 1px 31px 1px rgba(110,110,110,0.75);
    -webkit-box-shadow: 7px 1px 31px 1px rgba(110,110,110,0.75);
    -moz-box-shadow: 7px 1px 31px 1px rgba(110,110,110,0.75);

}

.SidePanelList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidePanelList .bar {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    border-radius: 25px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    color: darkgrey;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.SidePanelList .bar:hover{
    cursor: pointer;
    background-color: grey;
}

.SidePanelList #active {
    background-color: grey;
}

.bar #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.bar #title {
    flex: 70%;
}