.App {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.login-window {
  width: 233px;  /*Set the desired width */
  height: 250px; /*Set the desired height */
  background-color: orange; /* Set the background color */
  border-radius: 10px;
  position: absolute; /* Position it as needed, e.g., 'absolute' or 'fixed' */
  top: 50px; /* Adjust the top position */
  left: 85%; /* Center horizontally */
  transition: transform 0.9s ease; /* Add smooth transition effect */
  position: fixed; /* Fixed positioning ensures it stays in the same place even when you scroll */
  right: 0; /* Place the element at the right edge of the viewport */
}

.login-window-list {
    height: auto;
    padding: 5px;
    width: 100%;
    /*position: center;*/
    left: 50%;
}

.banner {
    display: flex;
    align-items: center;
    background-color: orange;
    height: 51px;
  }
  
  .left-buttons {
    display: flex;
    align-items: center;
    margin-right: auto; 
  }
  
  .button {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .logo {
    text-align: center;
    flex-grow: 1; 
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: monospace;
}
  
  .right-button {
    margin-left: auto; 
}

.calender_day{
    background-color: darkgray;
    height: 200px;
    width: 150px;
}

.date{
    height: 30px;
    width: 98%;
    border: 2px solid;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding-top: 5px;

    
}

.list_days{
    list-style-type:none;
}

.calendar{
  width: 80%;
  margin-left: 20%;
  border-spacing: 0px;
}
.calendar tr {
  font-weight: bolder;
  text-align: center;
}

.calendar td {
  font-weight: bolder;
  text-align: center;
  height: 100px;
  border: 1px solid black;
  border-collapse: collapse;
  
}