.backgroundImg{
    margin: 0;
    padding: 0;
    background-image: url('../img/mt.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.msg{
    text-align: center;
}
.ErrorPage{
    background-image: url('../img/ErrorPage.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
}